body {
  background-color: rgba(184, 226, 252, 0.32);
  font-family: "Times New Roman";
  font-weight: lighter;
  padding-left: 350px;
}

header {
  text-align: center;

  .name {
    font-size: 850%;
    text-align: end;
    margin-right: 30px;
  }

  #logo-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 30px;
    margin-left: 30px;
  }
}

.nav {
  text-align: center;
  color: rgba(184, 226, 252, 0.32);

  .link {
    display: table-cell;
    
  }
}
.about {
  #about_img {
    width: 140px;
    height: 130px;
    border-radius: 130px / 100px 5px;
    margin-left: 15%;
  }
  p {
    padding-left: 50px;
    margin-right: 2%;
  }
}

hr {
  border-width: 3px;
}

#bigger {
  font-size: 1000%;
}

#skill {
  display: flex;
  align-items: center;

  .strength1 {
    flex: 70%;
    margin-right: 15px;
  }
  .strength2 {
    flex: 5%;
    margin: 10px 5px;

    .skills_img {
      width: 150px;
      height: 140px;
      border-radius: 5px 100px / 130px;
    }
  }
}

.interest {
  display: flex;
  align-items: center;

  #interest_logo {
    width: 150px;
    height: 140px;
    border-radius: 130px / 100px 5px;
    padding: 2%;
  }

  p {
    margin-right: 2%;
  }
}

.container {
  padding: 20px;
}
h4 {
  margin-bottom: 1px;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 1px;
  border: 1px solid #d5d2d2;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 10px;
}
button,
input {
  color: rgb(0, 42, 255);
}

address {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}
